* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  box-sizing: border-box;
  background-color: #F4D04E;
  width: 100vw;

  height: 100vh;

}

.card {
  box-sizing: border-box;
  margin: auto;
  background-color: #fff;
  border: 1px solid #111;
  border-radius: 20px;
  box-shadow: 6px 6px 0 #111;
  padding: 24px;

  min-width: 327px;

  min-height: 501px;
  
}

.image {
  border-radius: 10px;
  width: 336px;
}

@media (max-width: 375px ) {
  .image {
    width: 279px;
  }
  .card {
    width: 384px;

    height: 522px;
  }
}

.content {
  box-sizing: border-box;
  margin-top: 24px;
  width: 336px;
  height: 200px;
}

.category {
  box-sizing: border-box;
  width: 82px;
  height: 29px;
  background-color: #F4D04E;
  border: none;
  border-radius: 4px;
  font-family: 'Figtree';
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 12px;
  line-height: 150%;
}

.date {
  font-family: 'Figtree';
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 12px;
  line-height: 150%;
}

.title {
  font-family: 'Figtree';
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 12px;
  line-height: 150%;
  color: #111;
}

.title:hover {
  color: #F4D04E;
  cursor: pointer;
}

.description {
  color: #6b6b6b;
  width: 279px;
  height: 63px;
  font-family: 'Figtree';
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}
.description:focus {
  outline: 3px solid #F4D04E;
  outline-offset: 2px;
}

.author {
  display: flex;
  width: 129px;
  height: 32px;
  gap: 12px;
  justify-content: start;
  align-items: center;
}

.img {
  width: 32px;
  height: 32px;
}

.name {
  font-family: 'Figtree';
  font-size: 12px;
  font-weight: 800;
  line-height: 150%;

}

.attribution {
  background-color: #F4D04E;
  font-size: 11px;
  text-align: center;
  padding-bottom: 24px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}